<nav class="navbar navbar-expand-lg navbar-dark padding-huge">
  <div class="container">
    <div class="nav-circle text-white garamond font-italic font-size-moderate">
      D
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" ng-class="{'hide': hide}" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <form class="form-inline my-2 my-lg-0" id="nav-form-inline">
        <div id="header-buttons-holder">
          <div class="header-button" ng-repeat="item in navbarOptions">
            <a class="montserrat header-button-text" data-toggle="collapse" data-target="#navbarSupportedContent" ng-click="route(item.value)">{{item.value}}</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>
