.alert-modal {
    width: 500px;
    min-height: 200px;
    max-height: 350px;
    border: solid 2px black;
    border-radius: 5px;
    position: absolute;
    background-color: white;
    padding: 15px;
    z-index: 1052;
    box-shadow: 5px 5px 20px #383838;
}

.alert-modal-content {
    min-height: 100px;
    max-width: 460px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}

.alert-background {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, .5);
    z-index: 99999;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
}

@media only screen and (max-width: 990px) {
    .alert-modal {
        width: 300px;
    }
}