.alert-modal {
    width: 500px;
    min-height: 200px;
    max-height: 350px;
    border: solid 2px black;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 15px;
    z-index: 1052;
    margin-left: -250px;
    margin-top: -100px;
}

.alert-modal-content {
    min-height: 100px;
    max-width: 460px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}

.alert-background {
    background-color: #000000;
    z-index: 1051;
    filter: alpha(opacity=50);
    /* IE */
    opacity: 0.5;
    /* Safari, Opera */
    -moz-opacity: 0.50;
    /* FireFox */
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}