<div class="hero-bg about-img">
  <div class="hero-content background-darkness">
    <div class="text-white montserrat font-size-huge font-weight-semi-bold text-center line-height-small padding-left-immense padding-right-immense">
      PASSION. PERSONALITY. PERSPECTIVE.
    </div>
    <div class="text-white garamond font-size-large font-weight-regular text-center font-italic margin-bottom-medium padding-largest">
      Learn a bit more about who I am besides a software engineer
    </div>
  </div>
</div>
<div class="container">
  <div id="description-holder">
    <div class="garamond font-size-largest text-center margin-bottom-large text-gunpowder-gray">
      Fun Facts
    </div>
    <div class="montserrat font-size-medium font-weight-light text-center line-height-medium text-gunpowder-gray">
      I'm an amateur partner-acrobatics aficionado, I've played drums for over 18 years and guitar for 6, have ran a few half-marathons and the 2009 Los Angeles Marathon, learned development with <a href="https://hackreactor.com/" target="_blank">HackReactor</a>, between 2017 and 2018 I traveled with <a href="http://remoteyear.com" target="_blank">Remote Year</a> to 15 countries carrying a ukulele, and want to become a pilot.
    </div>
  </div>
</div>
<div class="image-row sepia"> 
  <div class="image-column">
    <img src="app/assets/photos/running.jpg" title="Sofia, Bulgaria">
    <img src="app/assets/photos/krka.jpg" title="Krka, Croatia">
  </div>
  <div class="image-column">
    <img src="app/assets/photos/guell.jpg" title="Guell Park, Spain">
    <img src="app/assets/photos/julia.jpg" title="Medellin, Colombia">
  </div>
  <div class="image-column">
    <img src="app/assets/photos/lennon.jpg" title="Prague, Czech Republic">
    <img src="app/assets/photos/thailand.jpg" title="Doi Inthanon, Thailand">
  </div>
  <div class="image-column">
    <img src="app/assets/photos/osaka.jpg" title="Osaka, Japan">
    <img src="app/assets/photos/dog.jpg" title="Weston, Florida">
  </div>
</div>

<div class="hero-bg contact-me-about-img margin-top-mini">
  <div class="contact-me-content background-darkness">
    <div class="text-white garamond font-size-large font-weight-regular text-center font-italic margin-bottom-large padding-medium padding-largest">
      Do you have a website idea and need help from an expert?
    </div>
    <div class="container">
      <div class="text-white montserrat font-size-huge font-weight-semi-bold text-center line-height-small margin-bottom-medium padding-left-immense padding-right-immense">
        HIRE A FULL-STACK ENGINEER TODAY
      </div>
    </div>
    <div class="text-center margin-top-immense">
      <div class="white-button font-weight-light pointer" ui-sref="contact">
        SEND A MESSAGE
      </div>
    </div>
  </div>
</div>
