<div class="page-body">
  <div class="hero-bg about-img">
    <div class="hero-content background-darkness">
      <div class="text-white montserrat font-size-huge font-weight-semi-bold text-center line-height-small padding-left-immense padding-right-immense">
        PASSION. PERSONALITY. PERSPECTIVE.
      </div>
      <div class="text-white garamond font-size-large font-weight-regular text-center font-italic margin-bottom-medium">
        Learn a bit more about who I am besides a software engineer
      </div>
    </div>
  </div>
  <div class="container">
    <div id="description-holder">
      <div class="garamond font-size-largest text-center margin-bottom-large text-gunpowder-gray">
        Fun Facts
      </div>
      <div class="montserrat font-size-medium font-weight-light text-center line-height-medium text-gunpowder-gray">
        I'm an amateur partner-acrobatics aficionado, I've played drums for over 18 years and guitar for 6, have ran a few half-marathons and the 2009 Los Angeles Marathon, learned development with <a href="https://hackreactor.com/" target="_blank">HackReactor</a>, between 2017 and 2018 I traveled with <a href="http://remoteyear.com" target="_blank">Remote Year</a> to 15 countries carrying a ukulele, and want to become a pilot.
      </div>
    </div>
  </div>
  <div class="image-row sepia"> 
    <div class="image-column">
      <img src="app/assets/photos/mnd.jpg" title="Sofia, Bulgaria">
      <img src="app/assets/photos/krka.jpg" title="Krka, Croatia">
    </div>
    <div class="image-column">
      <img src="app/assets/photos/guell.jpg" title="Guell Park, Spain">
      <img src="app/assets/photos/seville.jpg" title="Sevilla, Spain">
    </div>
    <div class="image-column">
      <img src="app/assets/photos/lennon.jpg" title="Prague, Czech Republic">
      <img src="app/assets/photos/thailand.jpg" title="Doi Inthanon, Thailand">
    </div>
    <div class="image-column">
      <img src="app/assets/photos/osaka.jpg" title="Osaka, Japan">
      <img src="app/assets/photos/dog.jpg" title="Weston, Florida">
    </div>
  </div>
  <div class="footer">
    <div class="footer-body container">
      <div class="hero-content">
        <div class="text-white garamond font-size-large font-weight-regular text-center line-height-small padding-immense margin-top-immense margin-right-immense margin-left-immense">
          Create beautiful, responsive, and interactive websites exactly as you want them.
        </div>
        <div class="text-center">
          <a class="text-white" ui-sref="contact">
            <i class="padding-medium far fa-envelope fa-lg"></i>
          </a>
          <a class="text-white" href="https://www.linkedin.com/in/dela1000/" target="_blank">
            <i class="padding-medium fab fa-linkedin-in fa-lg"></i>
          </a>
          <a class="text-white" href="https://github.com/dela1000" target="_blank">
            <i class="padding-medium fab fa-github fa-lg"></i>
          </a>
          <a class="text-white" href="http://instagram.com/dela1000" target="_blank">
            <i class="padding-medium fab fa-instagram fa-lg"></i>
          </a>
        </div>
        <div class="text-white font-size-tiny font-weight-light text-center padding-medium margin-bottom-medium margin-right-immense margin-left-immense go-to-top">
          <a class="pointer" ng-click="goToTop()">Go to top</a>
        </div>
        <div class="text-white font-size-minuscule font-weight-light text-center padding-huge margin-bottom-medium margin-right-immense margin-left-immense">
          &copy; {{year}} Daniel De La Rosa. All rights reserved.
          <br> Developed with Angular.js and Node.js
        </div>
      </div>
    </div>
  </div>
</div>