<div class="page-body">
  <div class="hero-bg home-img">
    <div class="hero-content background-darkness">
      <div class="text-white montserrat font-size-huge font-weight-semi-bold text-center line-height-small padding-left-immense padding-right-immense">
        DESIGN. DEVELOP. DELIVER.
      </div>
      <div class="text-white garamond font-size-large font-weight-regular text-center font-italic margin-bottom-medium">
        Creating meaningul experiences through unique online ventures
      </div>
    </div>
  </div>
  <div class="container">
    <div id="description-holder">
      <div class="montserrat font-size-largest font-weight-semi-bold text-center margin-bottom-small text-gunpowder-gray">
        DANIEL DE LA ROSA
      </div>
      <div class="garamond font-size-largest text-center margin-bottom-large text-gunpowder-gray">
        Full Stack Software Engineer
      </div>
      <div class="montserrat font-size-medium font-weight-light text-center line-height-medium text-gunpowder-gray">
        Over 3 years of experience efficiently and effectively coding websites and applications. My career has consisted of creating scalable online projects from the ground up, maintaining and debugging client-facing products, and updating legacy code to match the rapidly changing standards required to run applications securely and efficiently.
      </div>
    </div>
  </div>
  <div class="contact-me-bg contact-me-home-img">
    <div class="contact-me-content background-darkness">
      <div class="text-white garamond font-size-large font-weight-regular text-center font-italic margin-bottom-large">
        Do you have a website idea and need help from an expert?
      </div>
      <div class="container">
        <div class="text-white montserrat font-size-huge font-weight-semi-bold text-center line-height-small margin-bottom-medium padding-left-immense padding-right-immense">
          HIRE A FULL-STACK ENGINEER TODAY
        </div>
      </div>
      <div class="text-center margin-top-immense">
        <div class="white-button font-weight-light pointer" ui-sref="contact">
          CONTACT ME
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-body container">
      <div class="hero-content">
        <div class="text-white garamond font-size-large font-weight-regular text-center line-height-small padding-huge margin-top-immense margin-right-immense margin-left-immense">
          Create beautiful, responsive, and interactive websites exactly as you want them.
        </div>
        <div class="text-center">
          <a class="text-white" ui-sref="contact">
            <i class="padding-medium far fa-envelope fa-lg"></i>
          </a>
          <a class="text-white" href="https://www.linkedin.com/in/dela1000/" target="_blank">
            <i class="padding-medium fab fa-linkedin-in fa-lg"></i>
          </a>
          <a class="text-white" href="https://github.com/dela1000" target="_blank">
            <i class="padding-medium fab fa-github fa-lg"></i>
          </a>
          <a class="text-white" href="http://instagram.com/dela1000" target="_blank">
            <i class="padding-medium fab fa-instagram fa-lg"></i>
          </a>
        </div>
        <div class="text-white font-size-tiny font-weight-light text-center padding-medium margin-bottom-medium margin-right-immense margin-left-immense go-to-top">
          <a class="pointer" ng-click="goToTop()">Go to top</a>
        </div>
        <div class="text-white font-size-minuscule font-weight-light text-center padding-huge margin-bottom-medium margin-right-immense margin-left-immense">
          &copy; {{year}} Daniel De La Rosa. All rights reserved.
          <br> Developed with Angular.js and Node.js
        </div>
      </div>
    </div>
  </div>
</div>