.image-row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
}

.image-column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
}

.image-column img {
    vertical-align: middle;
    width: 100%
}

.sepia {
    -webkit-filter: sepia(45%);
    /* Safari 6.0 - 9.0 */
    filter: sepia(45%);
}

.grayscale {
    -webkit-filter: grayscale(100%) brightness(50%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) brightness(50%);
}


.logo-row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    margin: 100px;
}

.logo-column {
    -ms-flex: 16.66%;
    /* IE10 */
    flex: 16.66%;
    max-width: 16.66%;
    padding: 15px 15px;
}

.logo-column img {
    vertical-align: middle;
    width: 100%;
}


@media screen and (max-width: 1100px) {
    .image-column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }

    .logo-column {
        -ms-flex: 25%;
        flex: 25%;
        max-width: 25%;
    }

    .logo-row {
        margin: 50px;
    }
}

@media screen and (max-width: 600px) {
    .image-column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    .logo-column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }

    .logo-row {
        margin: 50px;
    }
}
/* PADDING */

.padding-mini {
    padding: 1px;
}

.padding-tiny {
    padding: 3px;
}

.padding-small {
    padding: 5px;
}

.padding-medium {
    padding: 10px;
}

.padding-large {
    padding: 15px;
}

.padding-largest {
    padding: 20px;
}

.padding-huge {
    padding: 25px;
}

.padding-immense {
    padding: 30px;
}

.padding-top-mini {
    padding-top: 1px;
}

.padding-top-tiny {
    padding-top: 3px;
}

.padding-top {
    padding-top: 5px;
}

.padding-top-small {
    padding-top: 5px;
}

.padding-top-medium {
    padding-top: 10px;
}

.padding-top-large {
    padding-top: 15px;
}

.padding-top-largest {
    padding-top: 20px;
}

.padding-top-huge {
    padding-top: 25px;
}

.padding-top-immense {
    padding-top: 30px;
}

.padding-right-zero {
    padding-right: 0;
}

.padding-right-mini {
    padding-right: 1px;
}

.padding-right-tiny {
    padding-right: 3px;
}

.padding-right {
    padding-right: 5px;
}

.padding-right-small {
    padding-right: 5px;
}

.padding-right-medium {
    padding-right: 10px;
}

.padding-right-large {
    padding-right: 15px;
}

.padding-right-largest {
    padding-right: 20px;
}

.padding-right-huge {
    padding-right: 25px;
}

.padding-right-immense {
    padding-right: 30px;
}

.padding-bottom-mini {
    padding-bottom: 1px;
}

.padding-bottom-tiny {
    padding-bottom: 3px;
}

.padding-bottom-small {
    padding-bottom: 5px;
}

.padding-bottom-medium {
    padding-bottom: 10px;
}

.padding-bottom-large {
    padding-bottom: 15px;
}

.padding-bottom-largest {
    padding-bottom: 20px;
}

.padding-bottom-huge {
    padding-bottom: 25px;
}

.padding-bottom-immense {
    padding-bottom: 30px;
}

.padding-left-zero {
    padding-left: 0;
}

.padding-left {
    padding-left: 5px;
}

.padding-left-mini {
    padding-left: 1px;
}

.padding-left-tiny {
    padding-left: 3px;
}

.padding-left-small {
    padding-left: 5px;
}

.padding-left-medium {
    padding-left: 10px;
}

.padding-left-large {
    padding-left: 15px;
}

.padding-left-largest {
    padding-left: 20px;
}

.padding-left-huge {
    padding-left: 25px;
}

.padding-left-immense {
    padding-left: 30px;
}

.no-padding {
    padding: 0 !important;
}


/* MARGINS */

.margin-mini {
    margin: 1px;
}

.margin-tiny {
    margin: 3px;
}

.margin-small {
    margin: 5px;
}

.margin-medium {
    margin: 10px;
}

.margin-large {
    margin: 15px;
}

.margin-largest {
    margin: 20px;
}

.margin-huge {
    margin: 25px;
}

.margin-immense {
    margin: 30px;
}

.margin-top-mini {
    margin-top: 1px;
}

.margin-top-tiny {
    margin-top: 3px;
}

.margin-top-small {
    margin-top: 5px;
}

.margin-top-medium {
    margin-top: 10px;
}

.margin-top-large {
    margin-top: 15px;
}

.margin-top-largest {
    margin-top: 20px;
}

.margin-top-huge {
    margin-top: 25px;
}

.margin-top-immense {
    margin-top: 30px;
}

.margin-top-large-negative {
    margin-top: -15px;
}

.margin-right-zero {
    margin-right: 0px;
}

.margin-right-mini {
    margin-right: 1px;
}

.margin-right-tiny {
    margin-right: 3px;
}

.margin-right-small {
    margin-right: 5px;
}

.margin-right-medium {
    margin-right: 10px;
}

.margin-right-large {
    margin-right: 15px;
}

.margin-right-largest {
    margin-right: 20px;
}

.margin-right-huge {
    margin-right: 25px;
}

.margin-right-immense {
    margin-right: 30px;
}

.margin-bottom-mini {
    margin-bottom: 1px;
}

.margin-bottom-tiny {
    margin-bottom: 3px;
}

.margin-bottom-small {
    margin-bottom: 5px;
}

.margin-bottom-medium {
    margin-bottom: 10px;
}

.margin-bottom-large {
    margin-bottom: 15px;
}

.margin-bottom-largest {
    margin-bottom: 20px;
}

.margin-bottom-huge {
    margin-bottom: 25px;
}

.margin-bottom-immense {
    margin-bottom: 30px;
}

.margin-left-mini {
    margin-left: 1px;
}

.margin-left-tiny {
    margin-left: 3px;
}

.margin-left-small {
    margin-left: 5px;
}

.margin-left-medium {
    margin-left: 10px;
}

.margin-left-large {
    margin-left: 15px;
}

.margin-left-largest {
    margin-left: 20px;
}

.margin-left-huge {
    margin-left: 25px;
}

.margin-left-immense {
    margin-left: 30px;
}

.header-margins {
    margin-top: 20px;
    margin-bottom: 10px;
}

.no-margin {
    margin: 0;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.pagination-bottom {
    padding-bottom: 40px;
}
/*Fonts*/
.garamond {
    font-family: 'Cormorant Garamond', serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

/*Font sizes*/
.font-size-minuscule {
    font-size: 12px;
}

.font-size-tiny {
    font-size: 14px;
}

.font-size-small {
    font-size: 16px;
}

.font-size-medium {
    font-size: 24px;
}

.font-size-large {
    font-size: 26px;
}

.font-size-moderate {
    font-size: 32px;
}

.font-size-largest {
    font-size: 42px;
}

.font-size-huge {
    font-size: 72px;
}

/*Font weights*/
.font-weight-light {
    font-weight: 300;
}

.font-weight-regular {
    font-weight: 400;
}

.font-weight-semi-bold {
    font-weight: 600;
}

/*Line Height*/
.line-height-small {
    line-height: 1.1;
}

.line-height-medium {
    line-height: 1.7;
}

/*Text Colors*/
.text-gunpowder-gray {
    color: #1a1a1a;
}

.text-black {
    color: black;
}
/*General*/

body {
    background-color: #edeeef;
}

a {
    text-decoration: none !important;
    color: inherit;
}

textarea {
    border: none;
    overflow: auto !important;
    outline: none !important;

    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    resize: none !important;
    border-radius: 0px !important;
    box-shadow: 0 0 0 .1px #000 !important;
    border: 1px solid transparent !important;
}

input {
    outline: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    border-radius: 0px !important;
    box-shadow: 0 0 0 .1px #000 !important;
    border: 1px solid transparent !important;
}

.pointer {
    cursor: pointer;
}

.bg-white {
    background-color: white;
    padding-top: 75px;
    padding-bottom: 75px;
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, .7);
    z-index: 1000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading i {
    font-size: 30px;
    margin-top: 229px;
    color: #4183c4;
    opacity: 1;
}

.fade-animation.ng-hide-add,
.fade-animation.ng-hide-remove {
    -webkit-transition: 0.5s linear opacity;
    -moz-transition: 0.5s linear opacity;
    -ms-transition: 0.5s linear opacity;
    -o-transition: 0.5s linear opacity;
    transition: 0.5s linear opacity;
    opacity: 0.5;
}

.fade-animation.ng-hide {
    opacity: 0;
}

/*Navbar*/

.navbar {
    z-index: 9999;
    position: absolute;
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
}

.nav-circle {
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 52px;
    height: 52px;
    opacity: 1;
    padding-left: 1px;
    background: transparent;
    border: 2px solid white;
    text-align: center;
}

#header-buttons-holder {
    margin-top: 3px;
    left: 50px;
}

.header-button {
    padding-right: 40px;
    display: inline-block;
}

.header-button-text {
    text-transform: uppercase;
    line-height: 60px;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: white !important;
    text-decoration: none;
    transition: 0.2s color linear;
    cursor: pointer;
    text-decoration: none !important;
}

.header-button-text:hover {
    color: #bdbdbd !important;
}

/*Home*/

.hero-bg {
    height: 740px;
}

.home-img {
    background: url(../app/assets/bg-photos/desktop/merzougabw.jpg) no-repeat center center;
    background-size: cover;
}

.tech-img {
    background: url(../app/assets/bg-photos/desktop/praguebw.jpg) no-repeat center center;
    background-size: cover;
}

.about-img {
    background: url(../app/assets/bg-photos/desktop/eterabw.jpg) no-repeat center center;
    background-size: cover;
}

.resume-img {
    background: url(../app/assets/bg-photos/desktop/keyboardbw.jpg) no-repeat center center;
    background-size: cover;
}

.contact-img {
    background: url(../app/assets/bg-photos/desktop/fesbw.jpg) no-repeat center center;
    background-size: cover;
}

.contact-me-home-img {
    background: url(../app/assets/bg-photos/desktop/halongbaybw.jpg) no-repeat center center;
    background-size: cover;
}

.contact-me-resume-img {
    background: url(../app/assets/bg-photos/desktop/lisbonbw.jpg) no-repeat center center;
    background-size: cover;
}

.contact-me-tech-img {
    background: url(../app/assets/bg-photos/desktop/barcelonabw.jpg) no-repeat center center;
    background-size: cover;
}

.contact-me-about-img{
    background: url(../app/assets/bg-photos/desktop/sintrabw.jpg) no-repeat center center;
    background-size: cover;
}

.hero-content {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    box-pack: center;
    height: 100%;
}

.background-darkness {
    background-color:rgba(0, 0, 0, 0.3);
}

#description-holder {
    margin-top: 175px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 175px;
}

#tech-holder {
    margin-top: 75px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 75px;
}

.contact-me-content {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    box-pack: center;
    height: 100%;
}


.white-button {
    border: 3px solid white;
    color: white;
    background-color: transparent;
    padding: 24px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.2s background-color linear, 0.2s color linear;
}

.white-button:hover {
    color: #1a1a1a;
    background-color: white;
}

/*Contact*/

.send-button {
    border: 3px solid #26262a;
    color: #26262a;
    background-color: transparent;
    padding: 24px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.2s background-color linear, 0.2s color linear;
}

.send-button:hover {
    color: white;
    background-color: #26262a;
}

/*Footer*/

.footer {
    bottom: 0px;
    width: 100%;
    min-height: 250px;
    background-color: #26262a;
}

.footer-body {
    height: 100%;
    max-height: 740px;
    width: 100%;
    clear: both;
}

.footer-content {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    box-pack: center;
    height: 100%;
}

.go-to-top {
    display: none;
}

/* Relative CSS */

@media only screen and (max-width: 990px) {
    /* navbar */
    /*Breakpoint for hamburger menu*/
    #nav-form-inline {
        background-color: #edeeef;
        padding-left: 10px;
    }

    .header-button {
        display: inherit;
    }

    .header-button-text {
        font-weight: 400;
        color: #26262a !important;
        text-shadow: 0px 0px transparent;
    }

    .home-img {
        background: url(../app/assets/bg-photos/mobile/merzougabw.jpg) no-repeat center center;
        background-size: cover;
    }

    .tech-img {
        background: url(../app/assets/bg-photos/mobile/praguebw.jpg) no-repeat center center;
        background-size: cover;
    }

    .about-img {
        background: url(../app/assets/bg-photos/mobile/eterabw.jpg) no-repeat center center;
        background-size: cover;
    }

    .resume-img {
        background: url(../app/assets/bg-photos/mobile/keyboardbw.jpg) no-repeat center center;
        background-size: cover;
    }

    .contact-img {
        background: url(../app/assets/bg-photos/mobile/fesbw.jpg) no-repeat center center;
        background-size: cover;
    }

    .contact-me-home-img {
        background: url(../app/assets/bg-photos/mobile/halongbaybw.jpg) no-repeat center center;
        background-size: cover;
    }

    .contact-me-resume-img {
        background: url(../app/assets/bg-photos/mobile/lisbonbw.jpg) no-repeat center center;
        background-size: cover;
    }

    .contact-me-tech-img {
        background: url(../app/assets/bg-photos/mobile/barcelonabw.jpg) no-repeat center center;
        background-size: cover;
    }

    .contact-me-about-img{
        background: url(../app/assets/bg-photos/mobile/sintrabw.jpg) no-repeat center center;
        background-size: cover;
    }

    .font-size-medium {
        font-size: 21px;
    }

    .font-size-largest {
        font-size: 36px;
    }

    .font-size-huge {
        font-size: 40px;
    }

    .go-to-top {
        display: block;
    }

}
.alert-modal {
    width: 500px;
    min-height: 200px;
    max-height: 350px;
    border: solid 2px black;
    border-radius: 5px;
    position: absolute;
    background-color: white;
    padding: 15px;
    z-index: 1052;
    box-shadow: 5px 5px 20px #383838;
}

.alert-modal-content {
    min-height: 100px;
    max-width: 460px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}

.alert-background {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, .5);
    z-index: 99999;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
}

@media only screen and (max-width: 990px) {
    .alert-modal {
        width: 300px;
    }
}