<div class="container padding-bottom-immense">
  <div class="row">
    <div class="col-sm">
      <div class= "travel-text">
        <div class="montserrat font-size-smedium font-weight-light line-height-medium text-gunpowder-gray padding-right-immense padding-bottom-immense padding-left-immense">
          <br>
          <b>Things Covered -</b>
          <ul>
            <li>
              Prioritizing your priorities: Wifi, Safety, Fun. And more. Balancing the reckless fun with the adulting. 
            </li>
            <li>
              Is digital nomading affordable? Extremely. 
            </li>
            <li>
              Visas & the Beast: Schengen Zone.
            </li>
            <li>
              Build your tribe: how to keep a social life while on the road. 
            </li>
            <li>
              MONEY & Tools.
            </li>
            <li>
              Perfect life? Not always. Here are some ways digital nomading can suck, so you’re prepared. 
            </li>
          </ul>
          <div class="margin-top-large">
            <b>The Damage -</b>
            <br>
            $90 for 90 minutes. It’s the cost of a nice date night. 
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm" style ="position: relative;">
      <div class="row" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <div class="col-sm">
          <div class="travel-pic sepia travel-things-img"></div>
        </div>
      </div>
    </div>
  </div>
</div>