<div class="container">
  <div class="row travel-holder">
    <div class="col-sm" style ="position: relative;">
      <div class="row" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <div class="col-sm">
          <div class="project-bg travel-daniel-img"></div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class= "travel-text">
        <div class="montserrat font-size-medium font-weight-light line-height-medium text-gunpowder-gray padding-immense">
          <b>Daniel De La Rosa</b> has been traveling for five years. After building a solid career in software development, in an office in Pasadena, California, he realized that he was in a position to do a redesign of the way he worked. He began working remotely, and shortly after he signed up to travel with the program Remote Year. After 12 months and 12 countries, there was no way he was going back to a desk. In the years that followed, Daniel developed a personal system that enabled him to continue the nomadic lifestyle while also achieving financial freedom, stability, and control. 
        </div>
      </div>
    </div>
  </div>
  <div class="row travel-holder">
    <div class="col-sm">
      <div class= "travel-text">
        <div class="montserrat font-size-medium font-weight-light line-height-medium text-gunpowder-gray padding-immense">
          <b>Rachel Whitener</b> became successful as a professional chef in Los Angeles during her 10 years living in the city. After a trip to Morocco she saw the opportunity to travel the world and redefine herself as a digital nomad. A few months after joining Daniel, she started a new career as a Virtual Assistant and Account Manager while also teaching social media Master Classes. With a year of nomading under her belt, she has now visited 10 countries and has a growing wishlist of new places to explore.
        </div>
      </div>
    </div>
    <div class="col-sm" style ="position: relative;">
      <div class="row" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <div class="col-sm">
          <div class="project-bg travel-rachel-img"></div>
        </div>
      </div>
    </div>
  </div>
</div>