<div class="hero-bg travel-img">
  <div class="hero-content background-darkness">
    <div class="text-white montserrat font-size-huge font-weight-semi-bold text-center line-height-small padding-left-immense padding-right-immense">
      DEVIATE. DESIGN. DEPART.
    </div>
    <div class="text-white garamond font-size-large font-weight-regular text-center font-italic margin-bottom-medium padding-largest">
      Travel the world while "working from home"
    </div>
  </div>
</div>
<div class="container">
  <div id="description-holder">
    <div class="garamond font-size-largest text-center margin-bottom-large text-gunpowder-gray">
      Curious about the digital nomad life? 
    </div>
    <div class="montserrat font-size-medium font-weight-light line-height-medium text-gunpowder-gray">
      Have you read The 4-Hour Workweek and thought to yourself, YES. <br>
      Desire to achieve location independence but don’t know where to start? <br>
      We are digital nomads, and we can help. 
    </div>
  </div>
</div>

<div class="container">
  <div id="description-holder">
    <div class="garamond font-size-largest text-center margin-bottom-large text-gunpowder-gray">
      MORE TEXT GOES HERE
    </div>
    <div class="montserrat font-size-medium font-weight-light text-center line-height-medium text-gunpowder-gray">
      TEXT GOES HERE
    </div>
  </div>
</div>

<!-- GO HERE -->
<div ng-include class="mobile-selection" src="'app/travel/templates/travel_mobile.html'"></div>
<div ng-include class="web-selection" src="'app/travel/templates/travel_web.html'"></div>

<div class="bg-white">
  <div class="container">
    <div class="margin-top-immense margin-bottom-immense padding-huge">
      <div class="garamond font-size-largest text-center margin-bottom-large text-gunpowder-gray">
        Contact us
      </div>
      <form autocomplete="off">
        <div class="card-body">
          <div class="row">
            <div class=" col-md margin-bottom-largest">
              <input class="form-control" type="text" ng-model="name" name="name" placeholder="Your name" minlength="2" required autocomplete="off">
            </div>
            <div class=" col-md margin-bottom-largest">
              <input class="form-control" type="email" ng-model="email" name="email" placeholder="Your email" required autocomplete="off">
            </div>
          </div>
          <div class="margin-bottom-largest">
            <textarea class="form-control" type="message" ng-model="message" name="message" placeholder="Your message" rows="8">
            </textarea>
          </div>
          <div class="row justify-content-end margin-tiny">
            <a target="_blank" ng-click="sendEmail()">
              <div class="send-button font-weight-light pointer">
                <i class="fas fa-envelope-open"></i> SEND
              </div>
            </a>
          </div>
        </div>
        <br/>
        <br/>
      </form>
    </div>
  </div>
</div>

<div class="image-row sepia"> 
  <div class="image-column">
    <img src="app/assets/travel_photos/rndflorence.png" title="Florence, Italy">
    <img src="app/assets/travel_photos/bokaap.png" title="cape Town, South Africa">
  </div>
  <div class="image-column">
    <img src="app/assets/travel_photos/dubrovnik.png" title="Dubrovnik, Croatia">
    <img src="app/assets/travel_photos/rndsarajevo.png" title="Sarajevo, Bosnia and Herzegovina">
  </div>
  <div class="image-column">
    <img src="app/assets/travel_photos/rndtbilisi.png" title="Tbilisi, Georgia">
    <img src="app/assets/travel_photos/rndmostar.png" title="Mostar, Bosnia and Herzegovina">
  </div>
  <div class="image-column">
    <img src="app/assets/travel_photos/vienna.png" title="Vienna, Austria">
    <img src="app/assets/travel_photos/rndsafari.png" title="Manyeleti, South Africa">
  </div>
</div>



<div class="hero-bg travel-bottom-img margin-top-mini">
  <div class="contact-me-content background-darkness">
    <div class="text-white garamond font-size-large font-weight-regular text-center font-italic margin-bottom-large padding-medium padding-largest">
      
    </div>
    <div class="container">
      <div class="text-white montserrat font-size-huge font-weight-semi-bold text-center line-height-small margin-bottom-medium padding-left-immense padding-right-immense">
        BEGIN YOUR WORK FROM HOME TRAVEL LIFE
      </div>
    </div>
  </div>
</div>
