<div class="hero-bg travel-img">
  <div class="hero-content background-darkness">
    <div class="text-white montserrat font-size-huge font-weight-semi-bold text-center line-height-small padding-left-immense padding-right-immense">
      DEVIATE. DESIGN. DEPART.
    </div>
    <div class="text-white garamond font-size-large font-weight-regular text-center font-italic margin-bottom-medium padding-largest">
      Travel the world while "working from home"
    </div>
  </div>
</div>

<div class="container padding-top-immense">
  <div class="margin-immense">
    <div class="garamond font-size-largest text-center margin-bottom-medium text-gunpowder-gray">
      Curious about the digital nomad life? 
    </div>
    <div class="montserrat font-size-smedium font-weight-light line-height-medium text-gunpowder-gray padding-top-largest">
      Ready to deviate from the office life? <br>
      Have you read The 4-Hour Workweek and thought to yourself, YES. <br>
      Desire to achieve location independence but don’t know where to start? <br>
      We are seasoned digital nomads, and we can help. 
    </div>
  </div>
</div>

<div class="container">
  <div class="margin-right-immense margin-left-immense">
    <div class="montserrat font-size-smedium font-weight-light line-height-medium text-gunpowder-gray">
      <br>
      You can spend hours, days, combing through digital nomad blogs, and get tons of info. We don’t know everything, and we haven’t invented the lifestyle, but how often can you have a one-on-one conversation in real time with someone who is actually doing this? We’ll share with you our personal journeys from being location-bound, stuff-bound, and not at all mobile, to eating cevapi in Bosnia, hiking Table Mountain in South Africa, taking care of chickens in Ireland, and many more experiences. What we do day to day, how we make decisions about where to go, how we manage money, how we cope with stuff, with lack of stuff, the incredible experiences, the level-3 fun, the moving, the loneliness, the languages, the newness...
    </div>
  </div>
</div>
<div class="margin-bottom-immense">
  <div ng-include class="mobile-selection" src="'app/travel/templates/things_covered_mobile.html'"></div>
  <div ng-include class="web-selection" src="'app/travel/templates/things_covered_web.html'"></div>
</div>
<div class="bg-white-small">
  <div class="margin-tiny text-center">
    <a ng-click="scrollTo('contact_form')">
      <div class="send-button font-weight-light pointer">
        <i class="fas fa-envelope-open"></i> CONTACT US
      </div>
    </a>
  </div>
</div>

<div class="margin-top-immense margin-bottom-immense">
  <div ng-include class="mobile-selection" src="'app/travel/templates/travel_mobile.html'"></div>
  <div ng-include class="web-selection" src="'app/travel/templates/travel_web.html'"></div>
</div>

<div id="contact_form" class="bg-white">
  <div class="container">
    <div class="margin-top-immense margin-bottom-immense padding-huge">
      <div class="garamond font-size-largest text-center margin-bottom-large text-gunpowder-gray">
        Contact us
      </div>
      <form autocomplete="off">
        <div class="card-body">
          <div class="row">
            <div class=" col-md margin-bottom-largest">
              <input class="form-control" type="text" ng-model="name" name="name" placeholder="Your name" minlength="2" required autocomplete="off">
            </div>
            <div class=" col-md margin-bottom-largest">
              <input class="form-control" type="email" ng-model="email" name="email" placeholder="Your email" required autocomplete="off">
            </div>
          </div>
          <div class="margin-bottom-largest">
            <textarea class="form-control" type="message" ng-model="message" name="message" placeholder="Your message" rows="8">
            </textarea>
          </div>
          <div class="row justify-content-end margin-tiny">
            <a target="_blank" ng-click="sendEmail()">
              <div class="send-button font-weight-light pointer">
                <i class="fas fa-envelope-open"></i> SEND
              </div>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="image-row sepia"> 
  <div class="image-column">
    <img src="app/assets/travel_photos/rndflorence.png" title="Florence, Italy">
    <img src="app/assets/travel_photos/bokaap.png" title="Cape Town, South Africa">
  </div>
  <div class="image-column">
    <img src="app/assets/travel_photos/dubrovnik.png" title="Dubrovnik, Croatia">
    <img src="app/assets/travel_photos/rndsarajevo.png" title="Sarajevo, Bosnia and Herzegovina">
  </div>
  <div class="image-column">
    <img src="app/assets/travel_photos/rndtbilisi.png" title="Tbilisi, Georgia">
    <img src="app/assets/travel_photos/dublin.png" title="Mostar, Dublin, Ireland">
  </div>
  <div class="image-column">
    <img src="app/assets/travel_photos/vienna.png" title="Vienna, Austria">
    <img src="app/assets/travel_photos/rndsafari.png" title="Manyeleti, South Africa">
  </div>
</div>

<div class="hero-bg travel-bottom-img margin-top-mini">
  <div class="contact-me-content background-darkness">
    <div class="text-white garamond font-size-large font-weight-regular text-center font-italic margin-bottom-large padding-medium padding-largest">
      
    </div>
    <div class="container">
      <div class="text-white montserrat font-size-huge font-weight-semi-bold text-center line-height-small margin-bottom-medium padding-left-immense padding-right-immense">
        BEGIN YOUR WORK FROM HOME TRAVEL LIFE
      </div>
    </div>
  </div>
</div>
