<div class="hero-bg contact-img">
  <div class="hero-content background-darkness">
    <div class="text-white montserrat font-size-huge font-weight-semi-bold text-center line-height-small padding-left-immense padding-right-immense">
      CONNECT. CONVERGE. CONVERSE.
    </div>
    <div class="text-white garamond font-size-medium font-weight-regular text-center font-italic margin-bottom-medium padding-largest">
      Let's discuss your needs
    </div>
  </div>
</div>
<div class="bg-white">
  <div class="container">
    <div class="margin-top-immense margin-bottom-immense padding-huge">
      <div class="garamond font-size-largest text-center margin-bottom-large text-gunpowder-gray">
        Send me an email and lets create together
      </div>
      <form autocomplete="off">
        <div class="card-body">
          <div class="row">
            <div class=" col-md margin-bottom-largest">
              <input class="form-control" type="text" ng-model="name" name="name" placeholder="Your name" minlength="2" required autocomplete="off">
            </div>
            <div class=" col-md margin-bottom-largest">
              <input class="form-control" type="email" ng-model="email" name="email" placeholder="Your email" required autocomplete="off">
            </div>
          </div>
          <div class="margin-bottom-largest">
            <textarea class="form-control" type="message" ng-model="message" name="message" placeholder="Your message" rows="8">
            </textarea>
          </div>
          <div class="row justify-content-end margin-tiny">
            <a target="_blank" ng-click="sendEmail()">
              <div class="send-button font-weight-light pointer">
                <i class="fas fa-envelope-open"></i> SEND
              </div>
            </a>
          </div>
        </div>
        <br/>
        <br/>
      </form>
    </div>
  </div>
</div>