<div class="container">
  <!-- Rendezbrew -->
  <div class="row projects-holder">
    <div class="col-sm">
      <div class= "projects-text">
        <div class="garamond font-size-giant text-center margin-bottom-large text-gunpowder-gray">
          Rendezbrew
        </div>
        <div class="montserrat font-size-large font-weight-light text-center line-height-medium text-gunpowder-gray padding-immense">
          Rendezbrew helps you find a central location to meet with your friends. Create and event and it will determine the most central meeting point to get a drink depending on where everyone who is coming is located.
        </div>
        <div class="montserrat font-size-large font-weight-light text-center line-height-medium text-gunpowder-gray padding-immense">
          Developed with React Native, NodeJS, and SQL. Deployed to AWS.
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="row margin-top-medium">
        <div class="col-sm margin-top-medium">
          <div class="project-bg beer-splash-img"></div>
        </div>
      </div>
      <div class="row margin-top-medium">
        <div class="col-sm margin-top-medium">
          <div class="project-bg beer-one-img"></div>
        </div>
        <div class="col-sm margin-top-medium">
          <div class="project-bg beer-two-img"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row projects-holder">
    <div class="col">
      <a href="https://play.google.com/store/apps/details?id=com.rendezbrew.rendezbrew" target="_blank">
        <img src="app/assets/projects/googleBadge.png" class="mx-auto d-block store-links">
      </a>
    </div>
    <!-- <div class="col">
      <a href="">
        <img src="app/assets/projects/appleBadge.png" class="mx-auto d-block store-links">
      </a>
    </div> -->
  </div>
  <!-- AcroGenerator -->
  <div class="row projects-holder">
    <div class="col-sm">
      <div class="row margin-top-medium">
        <div class="col-sm">
          <div class="project-bg acro-splash-img"></div>
        </div>
      </div>
      <div class="row margin-top-medium">
        <div class="col-sm margin-top-medium">
          <div class="project-bg acro-one-img"></div>
        </div>
        <div class="col-sm">
          <div class="project-bg acro-two-img"></div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class= "projects-text">
        <div class="garamond font-size-giant text-center margin-bottom-large text-gunpowder-gray">
          AcroGenerator
        </div>
        <div class="montserrat font-size-large font-weight-light text-center line-height-medium text-gunpowder-gray padding-immense">
          The AcroGenerator helps partners find different connections between a number of positions. After selecting the difficulty and the number of positions you'll see a randomized set of moves that you can try and connect.
        </div>
        <div class="montserrat font-size-large font-weight-light text-center line-height-medium text-gunpowder-gray padding-immense">
          Developed with React Native, and NodeJS. Deployed to AWS.
        </div>
      </div>
    </div>
  </div>
  <div class="row projects-holder">
    <div class="col">
      <a href="https://play.google.com/store/apps/details?id=com.acrogen.acrogen" target="_blank">
        <img src="app/assets/projects/googleBadge.png" class="mx-auto d-block store-links">
      </a>
    </div>
    <div class="col">
      <a href="https://itunes.apple.com/app/id1452690580" target="_blank">
        <img src="app/assets/projects/appleBadge.png" class="mx-auto d-block store-links">
      </a>
    </div>
  </div>
</div>