<div class="hero-bg projects-img">
  <div class="hero-content background-darkness">
    <div class="text-white montserrat font-size-huge font-weight-semi-bold text-center line-height-small padding-left-immense padding-right-immense">
      PLAN. PRODUCE. PUBLISH
    </div>
    <div class="text-white garamond font-size-large font-weight-regular text-center font-italic margin-bottom-medium padding-largest">
      See products I have developed
    </div>
  </div>
</div>

<div class="container">
  <!-- Rendezbrew -->
  <div class="row projects-holder">
    <div class="col-sm">
      <div class= "projects-text montserrat font-size-large font-weight-light text-center line-height-medium text-gunpowder-gray padding-immense">
        <div class="garamond font-size-giant text-center margin-bottom-large text-gunpowder-gray">
          Rendezbrew
        </div>
        Rendezbrew helps you find a central location to meet with your friends. Create and event and it will determine the most central meeting point to get a drink depending on where everyone who is coming is located.
      </div>
    </div>
    <div class="col-sm">
      <div class="row">
        <div class="col-sm margin-top-medium">
          <div class="project-bg acro-splash-img"></div>
        </div>
        <div class="col-sm margin-top-medium">
          <div class="project-bg acro-one-img"></div>
        </div>
      </div>
      <div class="row margin-top-medium">
        <div class="col-sm margin-top-medium">
          <div class="project-bg acro-two-img"></div>
        </div>
        <div class="col-sm margin-top-medium">
          <div class="project-bg acro-two-img"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- AcroGenerator -->
  <div class="row projects-holder">
    <div class="col-sm">
      <div class="row">
        <div class="col-sm">
          <div class="project-bg acro-splash-img"></div>
        </div>
        <div class="col-sm">
          <div class="project-bg acro-one-img"></div>
        </div>
      </div>
      <div class="row margin-top-medium">
        <div class="col-sm">
          <div class="project-bg acro-two-img"></div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class= "projects-text montserrat font-size-large font-weight-light text-center line-height-medium text-gunpowder-gray padding-immense">
        <div class="garamond font-size-giant text-center margin-bottom-large text-gunpowder-gray">
          AcroGenerator
        </div>
        The AcroGenerator helps partners find different connections between a number of positions. After selecting the difficulty and the number of positions you'll see a randomized set of moves that you can try and connect.
      </div>
    </div>
  </div>
</div>

<div class="hero-bg contact-me-projects-img margin-top-immense">
  <div class="contact-me-content background-darkness">
    <div class="text-white garamond font-size-large font-weight-regular text-center font-italic margin-bottom-large padding-medium padding-largest">
      Do you have a project idea and need help from an expert?
    </div>
    <div class="container">
      <div class="text-white montserrat font-size-huge font-weight-semi-bold text-center line-height-small margin-bottom-medium padding-left-immense padding-right-immense">
        HIRE A FULL-STACK ENGINEER TODAY
      </div>
    </div>
    <div class="text-center margin-top-immense">
      <div class="white-button font-weight-light pointer" ui-sref="contact">
        SEND A MESSAGE
      </div>
    </div>
  </div>
</div>
