.image-row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
}

.image-column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
}

.image-column img {
    vertical-align: middle;
    width: 100%
}

.sepia {
    -webkit-filter: sepia(45%);
    /* Safari 6.0 - 9.0 */
    filter: sepia(45%);
}

.grayscale {
    -webkit-filter: grayscale(100%) brightness(50%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) brightness(50%);
}


.logo-row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    margin: 100px;
}

.logo-column {
    -ms-flex: 16.66%;
    /* IE10 */
    flex: 16.66%;
    max-width: 16.66%;
    padding: 15px 15px;
}

.logo-column img {
    vertical-align: middle;
    width: 100%;
}


@media screen and (max-width: 1100px) {
    .image-column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }

    .logo-column {
        -ms-flex: 25%;
        flex: 25%;
        max-width: 25%;
    }

    .logo-row {
        margin: 50px;
    }
}

@media screen and (max-width: 600px) {
    .image-column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    .logo-column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }

    .logo-row {
        margin: 50px;
    }
}