/*General*/

body {
    background-color: #edeeef;
}

a {
    text-decoration: none !important;
    color: inherit;
}

textarea {
    border: none;
    overflow: auto !important;
    outline: none !important;

    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    resize: none !important;
    border-radius: 0px !important;
    box-shadow: 0 0 0 .1px #000 !important;
    border: 1px solid transparent !important;
}

input {
    outline: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    border-radius: 0px !important;
    box-shadow: 0 0 0 .1px #000 !important;
    border: 1px solid transparent !important;
}

.pointer {
    cursor: pointer;
}

.bg-white {
    background-color: white;
    padding-top: 75px;
    padding-bottom: 75px;
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, .7);
    z-index: 1000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading i {
    font-size: 30px;
    margin-top: 229px;
    color: #4183c4;
    opacity: 1;
}

.fade-animation.ng-hide-add,
.fade-animation.ng-hide-remove {
    -webkit-transition: 0.5s linear opacity;
    -moz-transition: 0.5s linear opacity;
    -ms-transition: 0.5s linear opacity;
    -o-transition: 0.5s linear opacity;
    transition: 0.5s linear opacity;
    opacity: 0.5;
}

.fade-animation.ng-hide {
    opacity: 0;
}

/*Navbar*/

.navbar {
    z-index: 9999;
    position: absolute;
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
}

.nav-circle {
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 52px;
    height: 52px;
    opacity: 1;
    padding-left: 1px;
    background: transparent;
    border: 2px solid white;
    text-align: center;
}

#header-buttons-holder {
    margin-top: 3px;
    left: 50px;
}

.header-button {
    padding-right: 40px;
    display: inline-block;
}

.header-button-text {
    text-transform: uppercase;
    line-height: 60px;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: white !important;
    text-decoration: none;
    transition: 0.2s color linear;
    cursor: pointer;
    text-decoration: none !important;
}

.header-button-text:hover {
    color: #bdbdbd !important;
}

/*Home*/

.hero-bg {
    height: 740px;
}

.home-img {
    background: url(../app/assets/bg-photos/desktop/merzougabw.jpg) no-repeat center center;
    background-size: cover;
}

.tech-img {
    background: url(../app/assets/bg-photos/desktop/praguebw.jpg) no-repeat center center;
    background-size: cover;
}

.about-img {
    background: url(../app/assets/bg-photos/desktop/eterabw.jpg) no-repeat center center;
    background-size: cover;
}

.resume-img {
    background: url(../app/assets/bg-photos/desktop/keyboardbw.jpg) no-repeat center center;
    background-size: cover;
}

.contact-img {
    background: url(../app/assets/bg-photos/desktop/fesbw.jpg) no-repeat center center;
    background-size: cover;
}

.contact-me-home-img {
    background: url(../app/assets/bg-photos/desktop/halongbaybw.jpg) no-repeat center center;
    background-size: cover;
}

.contact-me-resume-img {
    background: url(../app/assets/bg-photos/desktop/lisbonbw.jpg) no-repeat center center;
    background-size: cover;
}

.contact-me-tech-img {
    background: url(../app/assets/bg-photos/desktop/barcelonabw.jpg) no-repeat center center;
    background-size: cover;
}

.hero-content {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    box-pack: center;
    height: 100%;
}

.background-darkness {
    background-color:rgba(0, 0, 0, 0.3);
}

#description-holder {
    margin-top: 175px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 175px;
}

#tech-holder {
    margin-top: 75px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 75px;
}

.contact-me-content {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    box-pack: center;
    height: 100%;
}


.white-button {
    border: 3px solid white;
    color: white;
    background-color: transparent;
    padding: 24px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.2s background-color linear, 0.2s color linear;
}

.white-button:hover {
    color: #1a1a1a;
    background-color: white;
}

/*Contact*/

.send-button {
    border: 3px solid #26262a;
    color: #26262a;
    background-color: transparent;
    padding: 24px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.2s background-color linear, 0.2s color linear;
}

.send-button:hover {
    color: white;
    background-color: #26262a;
}

/*Footer*/

.footer {
    bottom: 0px;
    width: 100%;
    min-height: 250px;
    background-color: #26262a;
}

.footer-body {
    height: 100%;
    max-height: 740px;
    width: 100%;
    clear: both;
}

.footer-content {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    box-pack: center;
    height: 100%;
}

.go-to-top {
    display: none;
}

/* Relative CSS */

@media only screen and (max-width: 990px) {
    /* navbar */
    /*Breakpoint for hamburger menu*/
    #nav-form-inline {
        background-color: #edeeef;
        padding-left: 10px;
    }

    .header-button {
        display: inherit;
    }

    .header-button-text {
        font-weight: 400;
        color: #26262a !important;
        text-shadow: 0px 0px transparent;
    }

    .home-img {
        background: url(../app/assets/bg-photos/mobile/merzougabw.jpg) no-repeat center center;
        background-size: cover;
    }

    .tech-img {
        background: url(../app/assets/bg-photos/mobile/praguebw.jpg) no-repeat center center;
        background-size: cover;
    }

    .about-img {
        background: url(../app/assets/bg-photos/mobile/eterabw.jpg) no-repeat center center;
        background-size: cover;
    }

    .resume-img {
        background: url(../app/assets/bg-photos/mobile/keyboardbw.jpg) no-repeat center center;
        background-size: cover;
    }

    .contact-img {
        background: url(../app/assets/bg-photos/mobile/fesbw.jpg) no-repeat center center;
        background-size: cover;
    }

    .contact-me-home-img {
        background: url(../app/assets/bg-photos/mobile/halongbaybw.jpg) no-repeat center center;
        background-size: cover;
    }

    .contact-me-resume-img {
        background: url(../app/assets/bg-photos/mobile/lisbonbw.jpg) no-repeat center center;
        background-size: cover;
    }

    .contact-me-tech-img {
        background: url(../app/assets/bg-photos/mobile/barcelonabw.jpg) no-repeat center center;
        background-size: cover;
    }

    .font-size-medium {
        font-size: 21px;
    }

    .font-size-largest {
        font-size: 36px;
    }

    .font-size-huge {
        font-size: 40px;
    }

    .go-to-top {
        display: block;
    }

}