<div class="hero-bg tech-img">
  <div class="hero-content background-darkness">
    <div class="text-white montserrat font-size-huge font-weight-semi-bold text-center line-height-small padding-left-immense padding-right-immense">
      CONCEIVE. COMPOSE. CREATE.
    </div>
    <div class="text-white garamond font-size-large font-weight-regular text-center font-italic margin-bottom-medium padding-largest">
      The tools of my trade
    </div>
  </div>
</div>
<div class="container">
  <div id="description-holder">
    <div class="garamond font-size-largest text-center margin-bottom-large text-gunpowder-gray">
      Creating what you want with the right tools
    </div>
    <div class="montserrat font-size-medium font-weight-light text-center line-height-medium text-gunpowder-gray">
      Wielding a variety of technologies and support properties, website design and development becomes easier. Below is a condensed list of the technologies which will make your online presence be clear and concise.
    </div>
  </div>
</div>
<div class="bg-white">
  <div class="logo-row">
    <div class="logo-column">
      <img src="app/assets/logos/html.png">
    </div>
    <div class="logo-column">
      <img src="app/assets/logos/css.png">
    </div>
    <div class="logo-column">
      <img src="app/assets/logos/angular.png">
    </div>
    <div class="logo-column">
      <img src="app/assets/logos/react.png">
    </div>
    <div class="logo-column">
      <img src="app/assets/logos/node.png">
    </div>
    <div class="logo-column">
      <img src="app/assets/logos/ionic.png">
    </div>
    <div class="logo-column">
      <img src="app/assets/logos/flutter.png">
    </div>
    <div class="logo-column">
      <img src="app/assets/logos/bootstrap.png">
    </div>
    <div class="logo-column">
      <img src="app/assets/logos/grunt.png">
    </div>
    <div class="logo-column">
      <img src="app/assets/logos/aws.png">
    </div>
    <div class="logo-column">
      <img src="app/assets/logos/git.png">
    </div>
    <div class="logo-column">
      <img src="app/assets/logos/adobe.png">
    </div>
  </div>
  <div class="container">
    <div id="tech-holder">
      <div class="row">
        <div class="col-md-6">
          <div class="montserrat font-size-medium font-weight-light text-gunpowder-gray text-center margin-bottom-medium">
            Technologies
          </div>
        </div>
        <div class="col-md-6">
          <div class="montserrat font-size-medium font-weight-light text-gunpowder-gray">
            <ul>
              <li>HTML5 / CSS3</li>
              <li>Javascript / Angular.js / React</li>
              <li>Node.js / Express</li>
              <li>Ionic</li>
              <li>Flutter</li>
              <li>Bootstrap</li>
              <li>Grunt</li>
              <li>Amazon Web Services (AWS)</li>
              <li>Version Control (GIT)</li>
              <li>Photoshop / Illustrator</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hero-bg contact-me-tech-img">
  <div class="contact-me-content background-darkness">
    <div class="text-white garamond font-size-large font-weight-regular text-center font-italic margin-bottom-large padding-largest">
      With expertise on these technologies your website will be exactly as you desire
    </div>
    <div class="large-text-container">
      <div class="text-white montserrat font-size-huge font-weight-semi-bold text-center line-height-small margin-bottom-medium padding-left-immense padding-right-immense">
        GET YOUR WEBSITE STARTED TODAY
      </div>
    </div>
    <div class="text-center margin-top-immense">
      <div class="white-button font-weight-light pointer" ui-sref="contact">
        CONTACT ME
      </div>
    </div>
  </div>
</div>
